<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="\style.css">
    <style>
        a {
            padding: 10px;
            margin: 10px;
            text-decoration: none;
            color: rgb(255, 255, 255);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color:rgb(161, 64, 252)
        }
    </style>
</head>

<body>
    <form action="">
        <h2 style="padding:10px">This is your home page</h2>
        <p style="margin-bottom: 30px;" style="padding:10px;">Set up your profile</p>
        <a href="./login">log in</a>
        <a href="./create">Sign up</a>
    </form>
</body>

</html>